<!DOCTYPE html>
<html>

    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Data</title>
            <link rel="stylesheet" type="text/css" href="/css/data.css">
            <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <h1>Data</h1>
            <div class="w-100">
                <input type="range" min="1" max="100" value="50" id="slider">
                <h1 id="num">50</h1>
            </div>
            <div id="chart_div" style="width: 900px; height: 500px;"></div>
        </div>
    </body>

    <script>
        var grades = [
            ['Student', 'Grade'],
            ['Person1', 12.2],
            ['Person2', 9.1],
            ['Person3', 12.2],
            ['Person4', 22.9],
            ['Person5', 0.9],
            ['Person6', 36.6],
            ['Person7', 9.1],
            ['Person8', 30.5],
            ['Person9', 6.1],
            ['Person10', 2.7],
            ['Person11', 0.9],
            ['Person12', 2.7],
            ['Person13', 27.1],
            ['Person14', 3.4],
            ['Person15', 5.5],
            ['Person16', 21.0],
            ['Person17', 7.9],
            ['Person18', 1.2],
            ['Person19', 4.6],
            ['Person20', 1.5],
            ['Person21', 7.9],
            ['Person22', 2.0],
            ['Person23', 45.7],
            ['Person24', 12.2],
            ['Person25', 30.5],
            ['Person26', 15.2],
            ['Person27', 30.5],
            ['Person28', 1.8]
        ];

        var slider = document.getElementById("slider");
        var num = document.getElementById("num");
        slider.oninput = function() {
            num.innerHTML = this.value;

            var newGrades = [
                ['Student', 'Grade']
            ];

            for (var i = 1; i < grades.length; i++) {
                newGrades[i] = [grades[i][0], grades[i][1] + this.value];
            }

            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {
                var data = google.visualization.arrayToDataTable(newGrades);

                var options = {
                    title: 'Student Test Grades',
                    legend: { position: 'none' },
                };

                var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
                chart.draw(data, options);
            }
        }
    </script>
</html>
