<!DOCTYPE html>
<html>

    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Upload</title>
            <link rel="stylesheet" type="text/css" href="/css/data.css">
            <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <h1>Upload</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
                <input type="file" name="file" /><br/><br/>
                <input type="hidden" id="jwtinput" name="jwt" value="">
                <input type="submit" value="Submit"/>
            </form>            
    </body>

    <script>
        window.onload = function() {
            try {
                document.getElementById("jwtinput").value = localStorage.getItem("token")
            } catch {
                console.log("no jwt")
            }
        }
    </script>
</html>
