<!DOCTYPE html>
<html>

    <head>
        <div layout:fragment="metadata" th:remove="tag">
            <title>Upload status</title>
            <link rel="stylesheet" type="text/css" href="/css/data.css">
            <script type="text/javascript"
                src="https://www.gstatic.com/charts/loader.js"></script>
        </div>
    </head>

    <body>
        <div layout:fragment="content" th:remove="tag">
            <h1>Upload status</h1>
            <p>UPLOAD FAILED<p>
    </body>

    <script>

    </script>
</html>
